/* bootstrapのような外部導入のcssをアプリケーション独自に全体で共通の変更したい場合 */

body {
font-size: 14px;
padding-top: 70px; /*header固定用のpadding*/
font-family:"メイリオ",Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,"ＭＳ Ｐゴシック",sans-serif;
}

/* message-name/bodyを中央揃え */
.text--center{
vertical-align: middle;
}

/* marginでボタンの余白を設定 paddingでボタンサイズ調整 */
.edit--expand{
padding: 1px 1px 1px 1px;
margin: 0px 0px 5px 0px;
}

.delete--expand{
padding: 1px 1px 1px 1px;
margin: 0px 0px 5px 5px;
}

.style-one {
border: 0;
border-bottom: 1px dashed #ccc;
border-color:#FFCFE0;
}

footer {
margin-top: 10px;
border-top: 1px solid#e7e7e7;
background-color: #f8f8f8;
text-align: center;
}

.copyright {
padding: 20px 0;
font-size: 12px;
color: #666;
}

